.cursor {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  z-index: 1;
  pointer-events: none;
}

.scroll-container {
  @apply relative w-full cursor-none overflow-x-scroll 
}

.scroll-content{
  @apply  flex w-fit
}


.scroll-item {
  display: inline-block;
  min-width: max-content;
  margin-right: 8rem;
}


